<!DOCTYPE html>
<html>
  <head>
    <title>Faker</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">
  </head>

  <body>
  <%= yield %>
  <%= render('shared/footer') %>
  </body>
</html>
